{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
buy_me
{% endblock %}

{% block title %}
login
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col log">
        </div>
        <div class="col log">
<!--            <img src="{% static 'img/buy_me_logo.png' %}">-->
            <form method="post" class="log">
                {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="psw" class="form-control" id="exampleInputPassword1">
              </div>
                    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                    <a href="{% url 'vehicle_app:reg' %}" style="font-size:20px;">Register</a>
                </form>
            </div>
        <div class="col log">
        </div>
    </div>


{% endblock %}
